.card-list__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-block: 1rem;
    gap: 1rem;

    animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.card {
    height: 100%;
    min-height: 10rem;
    width: 90%;
    padding-bottom: 1.5rem;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 40px;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

    font-family: "Plus Jakarta Sans Variable", sans-serif;
    font-weight: 500;
    transition: all 0.5s ease;

    .header {
        position: relative;
        border-bottom: 1px solid var(--primary-red);
        overflow: hidden;
        color: var(--primary-red);

        .skew-background {
            position: absolute;
            left: -60%;
            padding: 1rem;
            height: 100%;
            width: 100%;
            transform: skew(-45deg, 0deg);
            background-color: var(--primary-red);
        }

        .content {
            position: relative;
            display: flex;
            justify-content: space-between;
            padding: 0.5rem;

            .dates {
                text-transform: uppercase;
            }
        }

        .round {
            display: block;
            height: 100%;
            color: white;
        }
    }

    .body {
        padding: 1rem;
        color: black;
        text-transform: uppercase;

        .country {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .flag {
                padding-right: 0.5rem;
                > svg {
                    aspect-ratio: 2/3;
                    height: 1.25rem;
                    width: 1.5rem;
                }
            }

            .name {
                color: grey;
                font-size: 0.8rem;
            }
        }

        .series {
            padding-top: 0.5rem;
            font-size: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: black;

            .title {
                text-align: left;
            }
            .arrow-icon {
                aspect-ratio: 1/1;
            }
        }
    }
}

.card-list__container {
    .card:hover {
        transform: scale(1.05);
    }
}

#card--series-view {
    width: 100%;
    padding-bottom: 0;
    background-color: var(--primary-red);

    .header {
        color: var(--pure-white);
        border-bottom: 1px solid var(--faded-white--20);
    }

    .body {
        .country {
            .name {
                color: var(--pure-white);
            }
        }
        .series {
            padding-top: 0.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title {
                font-size: 1.25rem;
                color: var(--pure-white);
                text-align: left;
            }
        }
    }
}
