.view-page {
    color: black;

    height: 100%;
    width: 100%;

    & hr {
        border: 0 solid #000;
        border-bottom: 1px solid rgba(225, 5, 0, 0.2);
    }

    .column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin-inline: 1.5rem;
        text-transform: uppercase;
    }

    .winner {
        margin-block: 0.5rem;

        .details {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 0.75rem;
        }

        .flag {
            > svg {
                aspect-ratio: 2/3;
                height: 1.25rem;
                width: 1.5rem;
            }
        }
    }

    .top-list {
        margin-block: 0.5rem;

        text-align: left;
        font-size: 0.8rem;
        color: var(--faded-black--30);

        list-style-position: outside;

        > ol {
            > li::marker {
                color: var(--primary-red);
                width: 100px;
                font-size: 1rem;
            }
            > li {
                margin-left: 1rem;
                color: var(--pure-black);
                > span {
                    margin-left: 0.25rem;
                    font-size: 1rem;
                }
            }
        }
    }

    .fastest-lap {
        margin-block: 0.5rem;

        .details {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 0.75rem;
        }
    }

    .title {
        font-size: 0.7rem;
        text-align: left;
        color: var(--faded-black--30);
        margin-block: 0.25rem;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;

    > button {
        display: flex;
        align-items: center;

        padding: 1rem;

        background-color: transparent;
        font-size: 0.7rem;
        color: rgba(28, 28, 28, 0.5);
    }
    .arrow {
        margin-inline: 0.5rem;
    }

    .right {
        transform: scaleX(-1);
    }
}
