.view-page {
    color: black;

    height: 100%;
    width: 100%;

    & hr {
        border-color: rgba(225, 5, 0, 0.2);
    }

    .column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin-inline: 1.5rem;
    }

    .winner {
        margin-block: 0.5rem;

        .details {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 0.75rem;
        }
    }

    .top-list {
        margin-block: 0.5rem;

        text-align: left;
        font-size: 0.8rem;
        color: rgba(0, 0, 0, 0.3);

        list-style-position: outside;

        > ol {
            > li::marker {
                color: red;
                width: 100px;
            }
            > li {
                margin-left: 1rem;
                color: black;
                > span {
                    margin-left: 0.25rem;
                    font-size: 1rem;
                }
            }
        }
    }

    .fastest-lap {
        margin-block: 0.5rem;

        .details {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 0.75rem;
        }
    }
}

.title {
    font-size: 0.8rem;
    text-align: left;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.3);
}

.navbar {
    display: flex;
    justify-content: space-between;

    > button {
        display: flex;
        align-items: center;

        padding: 1rem;

        background-color: transparent;
        font-size: 0.7rem;
        color: rgba(28, 28, 28, 0.5);
    }
    .arrow {
        margin-inline: 0.5rem;
    }

    .right {
        transform: scaleX(-1);
    }
}
